@import url('https://fonts.googleapis.com/css?family=Hind:light,normal,bold|Inconsolata:400,700&display=swap&subset=latin-ext');

body {
  font-family: "Hind", "Frutiger", "Huawei", "Segoe UI", sans-serif;
  margin: 100px;
  background-color: #ffffff;
  color: #2c3e50;
  font-size: 17pt;
  line-height: 25px;
}

h1,h2 {
  font-weight: lighter;
}

h3,h4,h5,h6 {
  font-weight: normal;
}

ul,li {
  list-style-position: outside;
}

.tag {
  font-family: "Inconsolata", "SFMono-Regular", "Consolas", monospace;
  font-weight: normal;
  font-size: 1.1em;
}

@media screen and (max-width: 1000px) {
  body {
    margin: 60px 20px;
  }
}

/* img.emoji {
  width: 0.7em;
} */
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}